/*Base Styles*/
html {
	scroll-behavior: smooth;
	font-size: 100%;
}

* {
  box-sizing: border-box;
}

/*Grid Setup for Introduction Page*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
    "title title nav nav nav nav nav nav nav nav logo logo"
    "image image image image image image image image image image image image"
    "image image image image image image image image image image image image"
    "header header header header header header header header header header header header"
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    "Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.nav { grid-area: nav; }
.image { grid-area: image; }
.logo { grid-area: logo; }
.title { grid-area: title; }
.header { grid-area: header; }
.main { grid-area: main; }
.Nbutton { grid-area: Nbutton; }
.footer { grid-area: footer; }

/* Title */
.title h2{
  text-align: center;
  float: left;
  padding: 20.5px 24px;
  background-color: #15749E;
  color: white;
  position: relative;
  margin: -18px 0px 0px -10px; 
}

/* Navigation bar */
.nav {
  text-align: center;
}

.nav ul {
  list-style-type: none;
  grid-area: nav;
  padding: 0;
  overflow: hidden;
  background-color: #15749E;
  display: inline-block;
  position: relative;
  top: -25px;
}

.nav li {
  float: left;
}

.nav ul li.previous {
  background-color: #7EC971;
}

.nav ul li.active {
  background-color: #009CCC;
}

.nav ul li.future {
  background-color: #15749E;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: #15749E;
  font-size: 120%;
  padding: 12px 12.5px;
  transition: all ease-in-out 50ms;
}

.active {
  background-color: #4CAF50;
}

/* Progress Bar */

.pbcontainer {
  background-color: lightgrey; 
  height: 20px;
  width: 672.5px;
  margin: -45px auto;
}

.pfinished { 
  background-color: rgb(126, 201, 113); 
  color: white; 
  padding: 2px;
  text-align: center;
  font-size: 15px; 
}

/*Logo*/
.logo img{
  float: right;
  position: relative;
  padding: 5px 5px;
  margin: -10px 2.5% 0px 0px;
  width: 125px;
}

/*Image*/
.image {
  float: right;
}
.image img{
  position: relative;
  float: right;
  width: 105%;
}

/*Header*/
.header {
  width: 100%;
}
.header h1{
  grid-area: header;
  background-color: #009CCC;
  padding: 1rem 1rem;
  /* margin: auto; */
}

/* Media Queries */

@media screen and (max-width: 860px) {
  /*hides element labeled as step (see nav section)*/
  .title h2 {
    padding: 28.5px 5px;
    position: relative;
    margin: -10px 0px 0px -10px;
    font-size: 60%;
  }
	.nav span.step {
		display: none;
	}
  .pbcontainer {
    width: 200px;
  }
  .logo img{
    position: relative;
    width: 65px;
    margin: -10px -18.5px 0px 0px;
  }
  .image img{
    position: relative;
    width: 144%;
    margin: 0px 0px 0px -50px;
  }
}