/*Base Styles*/
html {
	scroll-behavior: smooth;
	font-size: 100%;
}

* {
  box-sizing: border-box;
}

/*Grid Setup for Introduction Page*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
    "title title nav nav nav nav nav nav nav nav logo logo"
    "image image image image image image image image image image image image"
    "image image image image image image image image image image image image"
    "header header header header header header header header header header header header"
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    ". main main main main main main main main main main ."
    "Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton Nbutton"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.nav { grid-area: nav; }
.image { grid-area: image; }
.logo { grid-area: logo; }
.title { grid-area: title; }
.header { grid-area: header; }
.main { grid-area: main; }
.Nbutton { grid-area: Nbutton; }
.footer { grid-area: footer; }

/* Title */

.title {
  text-align: left;
}

div.title {
  grid-area: title;
  
}

/* Navigation bar */
.nav {
  text-align: center;
}

.nav ul {
  list-style-type: none;
  grid-area: nav;
  padding: 0;
  overflow: hidden;
  background-color: #15749E;
  display: inline-block;
  position: relative;
  top: -25px;
}

.nav li {
  float: left;
}

.nav ul li.previous {
  background-color: #7EC971;
}

.nav ul li.active {
  background-color: #009CCC;
}

.nav ul li.future {
  background-color: #15749E;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: #15749E;
}

.active {
  background-color: #4CAF50;
}

/* Progress Bar */

.pbcontainer {
  background-color: lightgrey; 
  height: 20px;
  width: 673px;
  margin: -45px auto;
}

.pfinished { 
  background-color: rgb(126, 201, 113); 
  color: white; 
  padding: 2px;
  text-align: center;
  font-size: 15px; 
}

/*Logo*/
.logo {
  grid-area: logo;
}

div.logo img{
  float: right;
  position: relative;
  margin: -30px 0px 0px 0px;
  width: 100px;
  height: 25px;
}

/* Media Queries */

@media screen and (max-width: 860px) {
  /*hides element labeled as step (see nav section)*/
	.nav span.step {
		display: none;
	}
  .pbcontainer {
    width: 200px;
  }
  div.logo figure img{
    position: relative;
    width: 20%;
    height: 20%;
    margin: -3% -42px 0px 0px;
  }
}