/*Base Styles*/
html {
	scroll-behavior: smooth;
	font-size: 100%;
}

* {
  box-sizing: border-box;
}

/*Grid Setup for Role Discovery*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
    "logo logo nav nav nav nav nav nav nav nav title title"
    "Header Header Header Header Header Header Header Header Header Header Header Header"
    "sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons sbuttons"
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    ". results results results results results results results results results results ."
    "Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons Nbuttons"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.nav { grid-area: nav; }
.logo { grid-area: logo; }
.title { grid-area: title; }
.Header { grid-area: Header; }
.Nbuttons { grid-area: Nbuttons; }
.footer { grid-area: footer; }
.sbuttons { grid-area: sbuttons; }
.results { grid-area: results; }


/* Navigation bar */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  grid-area: nav;
  padding: 0;
  overflow: hidden;
  background-color: #15749E;
  display: inline-block;
  position: relative;
  top: -25px;
}

nav li {
  float: left;
}

nav ul li.previous {
  background-color: #7EC971;
}

nav ul li.active {
  background-color: #009CCC;
}

nav ul li.future {
  background-color: #15749E;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: #15749E;
}

.active {
  background-color: #4CAF50;
}

/* Progress Bar */

.pbcontainer {
  background-color: lightgrey; 
  height: 20px;
  width: 673px;
  margin: -45px auto;
}

.pfinished { 
  background-color: rgb(126, 201, 113); 
  color: white; 
  padding: 2px;
  text-align: center;
  font-size: 15px; 
}

/*Logo*/
.logo {
  grid-area: logo;
}

div.logo img{
  float: right;
  position: relative;
  margin: -30px 0px 0px 0px;
  width: 100px;
  height: 25px;
}

/* Media Queries */

@media screen and (max-width: 860px) {
  /*hides element labeled as step (see nav section)*/
	.nav span.step {
		display: none;
	}
  .pbcontainer {
    width: 200px;
  }
  div.logo figure img{
    position: relative;
    width: 20%;
    height: 20%;
    margin: -3% -42px 0px 0px;
  }
}